# DEV Compose file.
# For a production file see: README.md

version: '3.8'

services:
  redis:
    image: redis:7-alpine
    ports:
      - 6379:6379

  app:
    image: cupcakearmy/cryptgeon:test
    build: .
    env_file: .dev.env
    depends_on:
      - redis
    ports:
      - 1234:8000
